<div class="header_top">
    <div class="col-sm-3 logo">
        <a href="index.html"><img src="/assets/img/logo.png" alt=""/></a>
    </div>
    <div class="col-sm-6 nav">
        <ul>

            <li>
                <span class="simptip-position-bottom simptip-movable" data-tooltip="actors">
                    <a href="/actors"></a>
                </span>
            </li>
            <li>
                <span class="simptip-position-bottom simptip-movable" data-tooltip="movies">
                    <a href="/"></a>
                </span>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>